body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.titulo {
    font-weight:bold;
    font-size: 55px;
   ;
}

.subtitulo {
    font-weight:bold;
    font-size: 20px;
}

.container {
    width: 550px;
    background-color:#ecf0f1;
    padding: 50px;
    border-radius: 50px;
    box-shadow:  0 0 10px rgba(0, 255, 255, 0.6),
    0 0 20px rgba(0, 255, 255, 0.6),
    0 0 30px rgba(0, 255, 255, 0.6),
    0 0 40px rgba(0, 255, 255, 0.6),
    0 0 50px rgba(0, 255, 255, 0.6),
    0 0 60px rgba(0, 255, 255, 0.6),
    0 0 70px rgba(0, 255, 255, 0.6);

}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #555;
}

.tema {
    background-color: rgb(53, 164, 164);
    color: white;
    padding: 30px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}

.icon {
    font-size: 18px;
}


.ejercicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #e9e9e9;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.link-icon {
    color: #4CAF50;
    font-size: 12px;
    text-decoration: none;
}

.submenu {
    display: block; 
    overflow: hidden;
    max-height: 0; 
    transition: max-height 0.5s ease-out; 
}

.submenu.open {
    max-height: 500px; 
}